# Python Introduction

## 1. Why Python?

1. Popularity. (not necessarily the most important)
2. The fastest-growing major programming language. (Check it out in Google Trends)
3. Programming language of the year for 2018 (TIOBE), and top ranking by IEEE Spectrum and PyPL.
4. The most popular language for introductory computer science courses at the top American colleges.
5. The official teaching language for high schools in France.

### The Downside

Python might not be the fastest for some demanding applications, such as programs with a lot of claculations. A program written in C, C++, C#, Java, Rust, or Go will run faster most of the time.

## 3. Data, Types and Variables

1. **Boolean**: bool, immutable, examples: True, False
2. **Integer**: int, immutable, 47, 25000, 25_000
3. **Floating point**: float, immutable, 3.14, 2.7e5
4. **Complex**:	complex, immutable, 3j, 5 + 9j
5. **Text string**:	str, immutable,	'alas', "alack", '''a verse attack'''
6. **List**: list, mutable,	['Winken', 'Blinken', 'Nod']
7. **Tuple**: tuple, immutable,	(2, 4, 8)
8. **Set**:	set, mutable, {3, 5, 7}
9. **Dictionary**: dict, mutable, {'game': 'bingo', 'dog': 'dingo', 'drummer': 'Ringo'}

Every time when we try to update the value of an immutable object, a new object is created instead.

In Python, variables are just names, this is different from many other computer languages. Assignment does not copy a value; it just attaches a name to the object that contains the data. The name is a reference to a thing rather than the thing itself. Think about the name as a tag with a string attached to the object box somewhere else in the computer’s memory.

In [1]:
# Example

a = 7
print(a)
b = a
print(b)

7
7

In this example a and b are both reference the same object, so that object has two names.

In [2]:
a = [2, 4, 6]
a

[2, 4, 6]

In [3]:
a[0] = 99
a

[99, 4, 6]

### To check the type of a variable

In [4]:
type(a)

list

In [5]:
type(a[0])

int

## 3. Numbers

- Booleans: True or False
- Integers: whole numbers such as 42 and 100000000
- Floats: numbers with decimal points such as 3.14159, 1.0e8, which means one times ten to the eighth power.

The bool( ) function takes any value as its argument and returns the boolean equivalent.

In [6]:
bool(True)

True

In [7]:
bool(1)

True

In [8]:
bool(0)

False

In [9]:
bool(-1)

True

### Converting between types

In [10]:
int(3.5)

3

In [11]:
float(3)

3.0

In [12]:
int('33')

33

## 4. If else, Comments, and other Stuff..

In [13]:
# if else, is the same as other programming languages, just remeber the colon (:)

disaster = True
if disaster:
    print("Woe!")
else:
    print("Whee!")

Woe!

**Note**: indentation in Python is mandatory to define the blocks of statements.

In [14]:
x = 7
x == 5

False

In [15]:
x == 7

True

In [16]:
5 < x

True

In [17]:
x < 10

True

In [18]:
5 < x and x < 10

True

- If you need to make multiple comparisons, use logical (or boolean) operators: and, or, and not. 
- Logical operators have lower precedence than the chunks of code that they’re comparing. 
- This means that the chunks are calculated first, and then compared.

In [19]:
# BUT: the easiest way to avoid confusion about precedence is to add parentheses:

(5 < x) and (x < 10)

True

### Continue Lines with \

In [20]:
sum = 1 + \
2 + \
3 + \
4

In [21]:
sum

10

### The (in) operator

In [22]:
vowels = 'aeiou'
letter = 'o'
letter in vowels

True

In [23]:
if letter in vowels:
    print(letter, 'is a vowel')

o is a vowel

## 5. Strings

In [24]:
'The rare double quote in captivity: '

'The rare double quote in captivity: '

In [25]:
"""The rare double quote in captivity"""

'The rare double quote in captivity'

In [26]:
'''The rare double quote in captivity'''

'The rare double quote in captivity'

In [27]:
poem =  '''There was a Young Lady of Norway,
Who casually sat in a doorway;
When the door squeezed her flat,
She exclaimed, "What of that?"
This courageous Young Lady of Norway.'''

In [28]:
poem

'There was a Young Lady of Norway,\nWho casually sat in a doorway;\nWhen the door squeezed her flat,\nShe exclaimed, "What of that?"\nThis courageous Young Lady of Norway.'

In [29]:
print(poem)

There was a Young Lady of Norway,
Who casually sat in a doorway;
When the door squeezed her flat,
She exclaimed, "What of that?"
This courageous Young Lady of Norway.

In [30]:
print('Give', "us", '''some''', """space""")

Give us some space

In [31]:
# converting to string

str(98.6)

'98.6'

In [32]:
str(1.0e4)

'10000.0'

In [33]:
str(True)

'True'

In [34]:
# combining strings

'Release the kraken! ' + 'No, wait!'

'Release the kraken! No, wait!'

In [35]:
"My word! " "A gentleman caller!"

'My word! A gentleman caller!'

In [36]:
# accessing a character 

letters = 'abcdefghijklmnopqrstuvwxyz'
letters[0]

'a'

In [37]:
# this will cause an error because strings are immuatble
name = 'Henny'
name[0] = 'P'

TypeError: 'str' object does not support item assignment

In [38]:
name = 'Henny'
name.replace('H', 'P')

'Penny'

### Substrings (Slice)

You can extract a substring (a part of a string) from a string by using a slice. You define a slice by using square brackets, a start offset, an end offset, and an optional step count between them. You can omit some of these. The slice will include characters from offset start to one before end:

    [:] extracts the entire sequence from start to end.

    [ start :] specifies from the start offset to the end.

    [: end ] specifies from the beginning to the end offset minus 1.

    [ start : end ] indicates from the start offset to the end offset minus 1.

    [ start : end : step ] extracts from the start offset to the end offset minus 1, skipping characters by step.

In [39]:
letters[:]

'abcdefghijklmnopqrstuvwxyz'

In [40]:
letters[20:]

'uvwxyz'

In [41]:
letters[12:15]

'mno'

In [42]:
# length of a string

len(letters)

26

In [43]:
# splitting

tasks = 'get gloves,get mask,give cat vitamins,call ambulance'
tasks.split(',')

['get gloves', 'get mask', 'give cat vitamins', 'call ambulance']

In [44]:
# If you don’t specify a separator, split() uses any sequence of 
# white space characters: newlines, spaces, and tabs:

tasks.split()

['get', 'gloves,get', 'mask,give', 'cat', 'vitamins,call', 'ambulance']

In [45]:
# joining 

crypto_list = ['Yeti', 'Bigfoot', 'Loch Ness Monster']
crypto_string = ', '.join(crypto_list)
crypto_string

'Yeti, Bigfoot, Loch Ness Monster'

In [46]:
# substituting

setup = "a duck goes into a market..."
setup.replace('duck', 'goose')

'a goose goes into a market...'

In [47]:
# useful, importing a library called string that handles many string operations..

import string
string.whitespace

' \t\n\r\x0b\x0c'

In [48]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [49]:
blurt = "What happened...!!?"
blurt.strip(string.punctuation)

'What happened'

In [50]:
# searching and selecting

poem = '''All that doth flow we cannot liquid name
Or else would fire and water be the same;
But that is liquid which is moist and wet
Fire that property can never get.
Then 'tis not cold that doth the fire put out
But 'tis the wet that makes it die, no doubt.'''

In [51]:
poem[:13]

'All that doth'

In [52]:
len(poem)

250

In [53]:
poem.startswith('All')

True

In [54]:
poem.endswith('That\'s all, folks!')

False

In [55]:
word = 'the'
poem.find(word)

73

## 6. Loops

In [56]:
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [57]:
while True:
    stuff = input("String to capitalize [type q to quit]: ")
    if stuff == "q":
        break
    print(stuff.capitalize())

String to capitalize [type q to quit]: q

In [58]:
while True:
    value = input("Integer, please [q to quit]: ")
    if value == 'q':      # quit
        break
    number = int(value)
    if number % 2 == 0:   # an even number
        continue
    print(number, "squared is", number*number)

Integer, please [q to quit]: q

In [59]:
# a more powerful option for iteration is the (for in)

word = 'hello'
offset = 0
while offset < len(word):
    print(word[offset])
    offset += 1

h
e
l
l
o

In [60]:
for letter in word:
    print(letter)

h
e
l
l
o

In [61]:
# what would be the output?

word = 'pyxon'
for letter in word:
    if letter == 'x':
        print("Oh! An 'x'!")
        break
    print(letter)
else:
    print("No 'x' in there.")

p
y
Oh! An 'x'!

In [62]:
# generate number sequence using range

for x in range(0,3):
    print(x)

0
1
2

## 7. Tuples and Lists

### Tuples

In [63]:
empty_tuple = ()
empty_tuple

()

In [64]:
cities = ('Jeddah',)
cities

('Jeddah',)

In [65]:
type(cities)

tuple

In [66]:
cities = ('Jeddah')
cities

'Jeddah'

In [67]:
type(cities)

str

In [68]:
cities_tuple = 'Jeddah', 'Makkah', 'Madinah'
cities_tuple

('Jeddah', 'Makkah', 'Madinah')

In [69]:
type(cities_tuple)

tuple

In [70]:
# convert a list to tuple

cities_list = ['Jeddah', 'Makkah', 'Madinah']
tuple(cities_list)

('Jeddah', 'Makkah', 'Madinah')

In [71]:
# combining tuples 

('Jeddah',) + ('Makkah', 'Madinah')

('Jeddah', 'Makkah', 'Madinah')

In [72]:
# comparing tuples

a = (7, 2)
b = (7, 2, 9)
a == b

False

In [73]:
# iterate with for and in

words = ('fresh','out', 'of', 'ideas')
for word in words:
    print(word)

fresh
out
of
ideas

In [74]:
empty_list = [ ]
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
big_birds = ['emu', 'ostrich', 'cassowary']
first_names = ['Graham', 'John', 'Terry', 'Terry', 'Michael']
leap_years = [2000, 2004, 2008]
randomness = ['Punxsatawney', {"groundhog": "Phil"}, "Feb. 2"]

In [75]:
list('cat')

['c', 'a', 't']

In [76]:
# converts a tuple to a list:

a_tuple = ('ready', 'fire', 'aim')
list(a_tuple)

['ready', 'fire', 'aim']

In [77]:
# create from a string using split()

a_date = '9/19/2019'
a_date.split('/')

['9', '19', '2019']

In [78]:
# get an item by an offset 

books = ['To Kill a Mockingbird', 'Invisible Man', 'White Tiger']
books[0]

'To Kill a Mockingbird'

In [79]:
# get items using slices

books[0:2]

['To Kill a Mockingbird', 'Invisible Man']

In [80]:
books.reverse()
books

['White Tiger', 'Invisible Man', 'To Kill a Mockingbird']

In [81]:
# adding items to a list

books.append('Beloved')
books

['White Tiger', 'Invisible Man', 'To Kill a Mockingbird', 'Beloved']

In [82]:
books.insert(2, 'Lost')
books

['White Tiger', 'Invisible Man', 'Lost', 'To Kill a Mockingbird', 'Beloved']

In [83]:
new_books = ['Spider Man', 'Harry Potter']
books += new_books
books

['White Tiger',
 'Invisible Man',
 'Lost',
 'To Kill a Mockingbird',
 'Beloved',
 'Spider Man',
 'Harry Potter']

In [84]:
# change items using slice

numbers = [1, 2, 3, 4]
numbers

[1, 2, 3, 4]

In [85]:
# check if a value exist in a list with in

4 in numbers

True

In [86]:
10 in numbers

False

In [87]:
# counting certain item in a list

numbers.append(4)
numbers

[1, 2, 3, 4, 4]

In [88]:
numbers.count(4)

2

In [89]:
# sort and sorted 

books = ['To Kill a Mockingbird', 'Invisible Man', 'White Tiger']
sorted_books = sorted(books)
sorted_books

['Invisible Man', 'To Kill a Mockingbird', 'White Tiger']

In [90]:
books

['To Kill a Mockingbird', 'Invisible Man', 'White Tiger']

In [91]:
books.sort()

books

['Invisible Man', 'To Kill a Mockingbird', 'White Tiger']

In [92]:
# find the length of a list

len(numbers)

5

In [93]:
# compare

a = [7, 2]
b = [7, 2, 9]
a == b

False

In [94]:
# iterate with for and in

cheeses = ['brie', 'gjetost', 'havarti']
for cheese in cheeses:
    print(cheese)

brie
gjetost
havarti

In [95]:
# create a list with a comprehension
# syntax1: [expression for item in iterable]
# syntax2:[expression for item in iterable if condition]

number_list = [number for number in range(1,6)]
number_list

[1, 2, 3, 4, 5]

## 8. Dictionaries and Sets

### Dictionary
A dictionalry is a comma-separated key : value pairs.

In [96]:
empty_dict = {}
empty_dict

{}

In [97]:
# dictionary with integer keys

my_dict = {1: 'apple', 2: 'ball'}
my_dict

{1: 'apple', 2: 'ball'}

In [98]:
# dictionary with mixed keys

my_dict = {'name': 'John', 1: [2, 4, 3]}
my_dict

{'name': 'John', 1: [2, 4, 3]}

In [99]:
# note that dictionary keys have to be unique

students = {
'Salem': 'Rana',
'Saber': 'Mona',
'Majid': 'Sama',
'Raed' : 'Dana',
'Samer': 'Sara',
}
students

{'Salem': 'Rana',
 'Saber': 'Mona',
 'Majid': 'Sama',
 'Raed': 'Dana',
 'Samer': 'Sara'}

In [100]:
# accessing elements of a dictionary

students['Salem']

'Rana'

In [101]:
students['Salem'] = 'Maha'
students

{'Salem': 'Maha',
 'Saber': 'Mona',
 'Majid': 'Sama',
 'Raed': 'Dana',
 'Samer': 'Sara'}

In [102]:
# check if a key is in a dict.

'Salem' in students

True

In [103]:
# you can also use get() to retrieve an item by key, the second argument is optionsal

students.get('Amer', 'Not a Student')

'Not a Student'

In [104]:
students.get('Amer')

In [105]:
# get all the keys of a dict.

students.keys()

dict_keys(['Salem', 'Saber', 'Majid', 'Raed', 'Samer'])

In [106]:
students.values()

dict_values(['Maha', 'Mona', 'Sama', 'Dana', 'Sara'])

In [107]:
students.items()

dict_items([('Salem', 'Maha'), ('Saber', 'Mona'), ('Majid', 'Sama'), ('Raed', 'Dana'), ('Samer', 'Sara')])

In [108]:
# combine Dictionaries with:
# 1. {**a, **b}
# 2. update()

In [109]:
# 1. {**a, **b}

new_students = {'Galeb':'Manar', 'Farooq':'Dalal'}
{**students, **new_students}

{'Salem': 'Maha',
 'Saber': 'Mona',
 'Majid': 'Sama',
 'Raed': 'Dana',
 'Samer': 'Sara',
 'Galeb': 'Manar',
 'Farooq': 'Dalal'}

In [110]:
# note that students didn't change

students

{'Salem': 'Maha',
 'Saber': 'Mona',
 'Majid': 'Sama',
 'Raed': 'Dana',
 'Samer': 'Sara'}

In [111]:
# 2. update()
# students will change with update

students.update(new_students)
students

{'Salem': 'Maha',
 'Saber': 'Mona',
 'Majid': 'Sama',
 'Raed': 'Dana',
 'Samer': 'Sara',
 'Galeb': 'Manar',
 'Farooq': 'Dalal'}

In [112]:
# delete by key with del

del students['Raed']
students

{'Salem': 'Maha',
 'Saber': 'Mona',
 'Majid': 'Sama',
 'Samer': 'Sara',
 'Galeb': 'Manar',
 'Farooq': 'Dalal'}

In [113]:
# compare with == and != only, other operators don't work (<, >, etc.)

a = {1:1, 2:2, 3:3}
b = {3:3, 1:1, 2:2}
a == b

True

In [114]:
# iterate (keys)

for s in students:  
    print(s)

Salem
Saber
Majid
Samer
Galeb
Farooq

In [115]:
# iterate (vlaues)

for s in students.values():  
    print(s)

Maha
Mona
Sama
Sara
Manar
Dalal

In [116]:
# iterate (whole dict)

for s in students.items():  
    print(s)

('Salem', 'Maha')
('Saber', 'Mona')
('Majid', 'Sama')
('Samer', 'Sara')
('Galeb', 'Manar')
('Farooq', 'Dalal')

### Sets

- Like a dictionary, with only the keys, where each key must be unique. 
- You use a set when you only want to know that something exists.
- Set theory was taught in elementary school with basic mathematics and set operations such as union and intersection.

In [117]:
empty_set = set()
empty_set

set()

In [118]:
even_numbers = {0, 2, 4, 6, 8}
even_numbers

{0, 2, 4, 6, 8}

In [119]:
odd_numbers = {1, 3, 5, 7, 9}
odd_numbers

{1, 3, 5, 7, 9}

In [120]:
# convert a string to a set

set( 'letters' )

{'e', 'l', 'r', 's', 't'}

In [121]:
# a set from a list:

set( ['Dasher', 'Dancer', 'Prancer', 'Mason-Dixon'] )

{'Dancer', 'Dasher', 'Mason-Dixon', 'Prancer'}

In [122]:
# a set from a tuple:

set( ('Ummagumma', 'Echoes', 'Atom Heart Mother') )

{'Atom Heart Mother', 'Echoes', 'Ummagumma'}

In [123]:
# from a dictionary, it uses only the keys:

set( {'apple': 'red', 'orange': 'orange', 'cherry': 'red'} )

{'apple', 'cherry', 'orange'}

In [124]:
# size of set

len(odd_numbers)

5

In [125]:
# adding 

odd_numbers.add(11)
odd_numbers

{1, 3, 5, 7, 9, 11}

In [126]:
# delete

odd_numbers.remove(5)
odd_numbers

{1, 3, 7, 9, 11}

In [127]:
furniture = set(('sofa', 'sofa' 'ottoman', 'table'))
furniture

{'sofa', 'sofaottoman', 'table'}

In [128]:
# iterate

for piece in furniture:
    print(piece)

sofaottoman
table
sofa

In [129]:
# check the existence of an item in a set

'sofa' in furniture

True

In [130]:
# another example:

drinks = {
'black tea': {'mint', 'rose'},
'green tea': {'mint', 'jasmin'},
'coffee'   : {'cream', 'milk', 'halfnhalf'},
'pop'      : {'coke', 'sprite'}
}
drinks

{'black tea': {'mint', 'rose'},
 'green tea': {'jasmin', 'mint'},
 'coffee': {'cream', 'halfnhalf', 'milk'},
 'pop': {'coke', 'sprite'}}

In [131]:
for name, contents in drinks.items():
    if 'jasmin' in contents:
        print(name)

green tea

In [132]:
a_set = {number for number in range(1,6) if number % 3 == 1}
a_set

{1, 4}

There is also the set operations, union, intersection, subset, proper subset etc., but we won't cover it here.

### Making bigger data structures
1. tuple of lists
2. List of lists
3. Dictionary of lists

In [133]:
# example
marxes = ['Groucho', 'Chico', 'Harpo']
pythons = ['Chapman', 'Cleese', 'Gilliam', 'Jones', 'Palin']
stooges = ['Moe', 'Curly', 'Larry']

tuple_of_lists = marxes, pythons, stooges
tuple_of_lists

(['Groucho', 'Chico', 'Harpo'],
 ['Chapman', 'Cleese', 'Gilliam', 'Jones', 'Palin'],
 ['Moe', 'Curly', 'Larry'])

In [134]:
list_of_lists = [marxes, pythons, stooges]
list_of_lists

[['Groucho', 'Chico', 'Harpo'],
 ['Chapman', 'Cleese', 'Gilliam', 'Jones', 'Palin'],
 ['Moe', 'Curly', 'Larry']]

In [135]:
dict_of_lists = {'Marxes': marxes, 'Pythons': pythons, 'Stooges': stooges}
dict_of_lists

{'Marxes': ['Groucho', 'Chico', 'Harpo'],
 'Pythons': ['Chapman', 'Cleese', 'Gilliam', 'Jones', 'Palin'],
 'Stooges': ['Moe', 'Curly', 'Larry']}

## 9. Functions

In [137]:
# defining a function with --> def function_name() and a colon:

def make_a_sound():
    print('quack')
    
    
# calling the function

make_a_sound()

quack

### Positional Arguments

The most used type of arguments, as ohter programming languages, where values are copied to their corresponding parameters in order.

In [138]:
def menu(drink, entree, dessert):
    return {'drink': drink, 'entree': entree, 'dessert': dessert}

In [139]:
menu_dict = menu('pepsi', 'fish', 'cake')
menu_dict

{'drink': 'pepsi', 'entree': 'fish', 'dessert': 'cake'}

In [140]:
# we can add parameter and allow the function to return a value

def commentary(color):
    if color == 'red':
        return "It's a tomato."
    elif color == "green":
        return "It's a green pepper."
    elif color == 'bee purple':
        return "I don't know what it is, but only bees can see it."
    else:
        return "I've never heard of the color "  + color +  "."

In [141]:
comment = commentary('green')
print (comment)

It's a green pepper.

In [142]:
# the "None" value

thing = None

if thing:
    print("It's some thing")
else:
    print("It's no thing")

It's no thing

In [143]:
def buggy(arg):
    result = []
    result.append(arg)
    return result


buggy('a')

['a']

In [144]:
buggy('b')

['b']

In [145]:
def buggy(arg, result=[]):
    result.append(arg)
    print(result)
    
buggy('a')
buggy('b')

['a']
['a', 'b']

### The Positional Arguments With * and **
-  An asterisk groups a variable number of positional arguments into a single tuple of parameter values.
- The two asterisk ** is used to group keyword arguments into a dictionary, where the argument names are the keys, and their values are the corresponding dictionary values.

In [146]:
# arguments with * example

def print_more(required1, required2, *args):
    print('Need this one:', required1)
    print('Need this one too:', required2)
    print('All the rest:', args)

print_more('cap', 'gloves', 'scarf', 'eye glasses', 'lotion')

Need this one: cap
Need this one too: gloves
All the rest: ('scarf', 'eye glasses', 'lotion')

In [147]:
# arguments with ** example

def print_kwargs(**kwargs):
    print('Keyword arguments:', kwargs)
    

print_kwargs(drink='pepsi', entree='duck', dessert='macaroon')

Keyword arguments: {'drink': 'pepsi', 'entree': 'duck', 'dessert': 'macaroon'}

### Anonymous Functions: lambda

Lambda function in Python, is an anonymous function expressed as a single statement. You can use it instead of a normal small function.

To see the importance of lambda, let’s first make an example that uses normal functions. 
We will define the function edit_story(). Its arguments are the following:

    - words: a list of words
    - func: a function to apply to each word in words

In [148]:
# the main funtion 
def edit_story(words, func):
    for word in words:
        print(func(word))
    
# the list of words
names = ['maha', 'mona', 'sama', 'rana']

# the function "func"
def enliven(word):   # give that prose more punch
    return word.capitalize() + '!'

In [149]:
# call the function 

edit_story(names,enliven)

Maha!
Mona!
Sama!
Rana!

In [150]:
# the lambda version ...

edit_story(names, lambda word: word.capitalize() + '!')

# voila!

Maha!
Mona!
Sama!
Rana!

### Uses of _ and __ in Names

- Names that begin and end with two underscores (__) are reserved names. 
- Chosen because it is unlikely to be selected by application developers for their own variables.

For instance: 
- The name of a function is in the system variable function.__name__, 
- And function documentation string is function.__doc__
- The main program is assigned the special name __main__.

In [151]:
def amazing():
    '''This is the amazing function.
    Want to see it again?'''
    print('This function is named:', amazing.__name__)
    print('And its docstring is:', amazing.__doc__)

amazing()

This function is named: amazing
And its docstring is: This is the amazing function.
    Want to see it again?

In [152]:
# exeption handling with try and except

short_list = [1, 2, 3]
position = 5

try:
    short_list[position]
except:
    print('Need a position between 0 and', len(short_list)-1, ' but got', position)

Need a position between 0 and 2  but got 5

In [155]:
short_list = ['a', 'b', 'c']
while True:
    value = input('Position [q to quit]? ')
    if value == 'q':
        break
    try:
        position = int(value)
        print(short_list[position])
    except IndexError as err:
        print('Bad index:', position)
    except Exception as other:
        print('Something else broke:', other)

Position [q to quit]? 0
a
Position [q to quit]? 1
b
Position [q to quit]? 2
c
Position [q to quit]? 3
Bad index: 3
Position [q to quit]? 5
Bad index: 5
Position [q to quit]? bn
Something else broke: invalid literal for int() with base 10: 'bn'
Position [q to quit]? q

## Reference
[1] Bill Lubanovic, Introducing Python Modern Computing in Simple Packages, Second Edition, Oreilly, 2020.